.body {
    margin-left: auto;
    margin-right: auto;
    width: 22em;
}

.pol {
    margin-left: auto;
    margin-right: auto;
    width: 62em;
}

input.text {
    width: 200px;
    height: 30px;
}

.ffile {
    display: flex;
}
